# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Compiled files
*.class

# Logs
*.log

# Package files
*.jar
*.war
*.zip

# IDE NetBeans
nbproject/private/
build/
dist/

# IntelliJ / VSCode
.idea/
*.iml
.vscode/

# OS files
.DS_Store
Thumbs.db

# Database configs
*.env